* {
    margin: 0;
    padding: 0;
    font-family: 'Mochiy Pop One', sans-serif;
}

#main1 {
    background-image: url(./Assets/bhm.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    text-align: center;
    display: block;
    font-family: 'Mochiy Pop One', sans-serif;
}

#logo {
    top: 12%;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    max-width: 500px;
}

#logo img {
    width: 100%;
}

#darkBack {
    position: absolute;
    background: rgba(31, 31, 31, 0.589);
    width: 100vw;
    height: 100%;
}

#timeDiv {
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    max-width: 325px;
    background-color: #000000b0;
    width: 85%;
    margin: 0 auto;
    top: 25%;
    border-radius: 3px;
   
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
}

.open1 {
    color: #27ae60;
    border: 2px solid #27ae60;
    box-shadow: 0 8px 16px -8px #27ae60;
    padding: .5rem;
}
.open2 {
    color: #e89e30;
    
    padding: .5rem;
}


.closed1 {
    color: red;
    border: 2px solid rgba(70, 70, 70, 0);
    background-color: #0000006b;
    box-shadow: 0 8px 16px -8px red;
    padding: .5rem;
}
.closed2 {
    color: #e89e30;
    border: 2px solid rgba(70, 70, 70, 0);
    
    padding: .5rem;
    margin-bottom: .5rem;
}

.viewOpen1 {
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    display: block;
    border: 1px solid rgba(70, 70, 70, 0);
    background-color: #0000006b;
    max-width: 170px;
    width: 100%;
    color: #e89e30;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
   margin-top: -3%;
    cursor: pointer;
    font-family: 'Mochiy Pop One', sans-serif;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.viewOpen1:hover{
    background-color: #e89e3079;
    box-shadow: 0px 15px 20px rgba(245, 190, 70, 0.829);
    color: #fff;
    
}

.viewOpen1 i {
    color: rgba(70, 70, 70, 0.8);
}

@media all and (max-width: 600px) {
    #timeDiv {
        margin-bottom: 20px;
    }
}

@media all and (min-width: 601px) {
    #timeDiv {
        margin-right: 15px;
    }
}

.dateTime {
    max-width: 320px;
    margin: 0 auto;
}

.day {
    display: inline-block;
    float: left;
}

.time {
    display: inline-block;
    float: right
}

.today {
    color: #e89e30;
    font-weight: 600;
}

@media all and (max-height: 420px) {

    #timeDiv,
    .viewOpen1 {
        top: 60%;

    }
}

/* view hours modal */

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(173, 173, 173, 0.5);
    display: none;
}

#modal-state {
    display: none;
}

#modal-state:checked+.modal-overlay {
    opacity: 1;
    animation: fade-in .4s;
    display: block;
}

.modal1 {
    position: absolute;
    margin: 0 auto;
    padding: 30px 25px;
    background: #fff;
    right: 0;
    left: 0;
    text-align: center;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    line-height: 1.8;
    margin-top: 15%;

}

@media (max-width: 544px) {
    .viewOpen1 {
      margin-top: -50%;
    }
}



.modal1 h2 {
    margin-top: 0;
    line-height: 25px;
    font-size: 22px;
    border-bottom: 1px solid #dce0d8;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #e89e30;
}

@media all and (max-width: 470px) {
    .modal1 {
        width: 80%;
        margin-top: 50%;
   
    }

    .modal1 h2 {
        font-size: 20px;
    }
}

#modal-state:checked+.modal-overlay .modal {
    top: 20%;
}

.modal-overlay-close {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.button-close1 {
    text-decoration: none;
    position: absolute;
    color: #fff;
    background: #464646;
    padding: 0px 7px;
    font-weight: bold;
    top: 0px;
    right: 0;
    cursor: pointer
}

.fa.fa-clock-o::before{
    color: #e89e30;
}


